@{
}

<!-- Delete Modal -->
<div class="modal fade" id="shipModal" tabindex="-1" aria-labelledby="Delete Modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Delete Title">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to ship this order?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger px-4" id="confirmShip" data-id="0">Yes</button>
                <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>